@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-outfit), sans-serif;
    --color-cyan: #41beb6;
    --color-gray: #f2f2f2;
    --color-gray_strong: #e6e7e8;
    --color-orange: #ffc197;
    --color-red: #ed2d45;
    --color-teal: #93ccb6;
    --color-yellow: #ffcd03;
    --color-orange_lite: #f69348;
    --color-gray_text: #58595b;
    --color-orange_deep: #f69348;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

/* Define font faces */
@font-face {
    font-family: "Outfit";
    src: url("/fonts/Outfit-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900; /* Variable font weight range */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Myriad Pro";
    src: url("/fonts/MyriadPro-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Apply Outfit as default font */
* {
    font-family: "Outfit", ui-sans-serif, system-ui, -apple-system, sans-serif;
}

/* Create utility classes for fonts */
.font-outfit {
    font-family: "Outfit", ui-sans-serif, system-ui, -apple-system, sans-serif;
}

.font-myriad {
    font-family: "Myriad Pro", ui-sans-serif, system-ui, -apple-system,
        sans-serif;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

.contact_img {
    background-image: url(../../public/contact_img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.contact_img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.788);
    z-index: 1;
}

.Impact_bg {
    background-image: url(../../public/impact_bg_img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}
