name: Deploy
on:
  push:
    branches: [ "production" ]
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Deploy to Server
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: "139.180.146.228"
        username: "root"
        password: "@Jb6]L9(2,pCx8s{"
        port: "22"
        script: "cd /var/www/frontend/betopia-group-frontend && ./.script/deployment.sh"
